
.DS_Store
_site/
.jekyll-cache/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/the-mvm.github.io.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.vscode/settings.json
/.vscode/
/.idea/
.liquidrc
workingplatform/data/*.local.js
